<div class="search-form mt-4">
  <form method="GET">
    <div class="form-group">
      <label for="search-input">Press key</label>
      <input name="q" type="text" class="form-control" id="search-input" placeholder="Press key">
    </div>
    <div class="form-group">
      <label for="search-age">Press Age</label>
      <input name="age" type="text" class="form-control" id="search-age" placeholder="Ex: 18">
    </div>
    <div class="form-group">
      <label for="search-jobs">Press Jobs</label>
      <input name="job" type="text" class="form-control" id="search-jobs" placeholder="Ex: Software engineering">
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>